{% extends "wrapper.html" %}
{% block content %}
<div style="padding-top:10%;" id="mainDiv">
    <h1 style="text-align:center;padding:10px;">Тестовое задание Python Developer</h1>
    <h4 style="text-align:center;padding:10px;">Получите прогноз погоды в Вашем городе</h4>
    <p style="text-align:center;padding:10px;">{{error}}</p>
    <div class="center-block" style="width:35%;padding:10px;">
        <form method="post">
            <div class="input-group">
                {% csrf_token %}
                <input type="text" class="form-control" id="tags" name="city" placeholder="Введите город"
                       aria-label="City">
                <span class="input-group-btn">
                <button class="btn btn-dark" type="submit">Поиск</button>
            </span>
            </div>
        </form>
        {%if last_city%}
        <div class="container" style="padding:15px;">
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="hidden" name="city" value="{{last_city}}" />
                <i style="color:gray;">Ваш последний поиск </i><input class="btn btn-sm btn-dark" type="submit" value="{{last_city}}" />
            </form>
        </div>
        {% endif %}
    </div>
</div>


<script>
    $( function() {
      var availableTags = [
          {% for city in cities %}
              "{{city}}",
          {% endfor %}
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
</script>
{% endblock %}